* {
margin: 0;
padding: 0;
font - family: Roboto;
box - sizing: border-box;
}

body{
background-color: #FFD700;
}

header{

}


#wrapper {
max-width: 1000px;
margin: 0 auto 0 auto;
background-color: white;
}
